.*
!.gitmodules
*.o
*.a
*.d
.cache/
.coreml/
.deps/
.test/
.venv/
.vs/
.vscode/
.DS_Store
.vimspector.json
/CMakeSettings.json
/talk-llama.dSYM/

build/
build-*/
build_*/
tmp/

# SPM
.build/
.swiftpm
*.metallib

ggml-metal-embed.metal
ggml-metal-embed.metal.tmp

arm_neon.h
sync.sh
libwhisper.a
libwhisper.so
compile_commands.json

.idea/

benchmark_results.csv
cmake-build-debug/
.cxx/
.gradle/
local.properties
.log
.exe

!.gitignore
